// Variables
$font-stack: Helvetica, sans-serif;

// Colors
$background:    #f5f4ef;
$text:          #74736f;
$gray:          #b7b7b7;
$outline:       #bbb5b4;
$warning:       #fc9929;
$warning-bg:    #fadb93;
$cta:           #729b0b;
$light-cta:     #b9d772;
$dark-cta:      #374e04;
$facebook:      #325b99;
$dark-facebook: #253a58;
$link:          #90cdf5;

//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//Base
html {
  max-width:100%;
  overflow-x: hidden;
  height:100%;
  position:relative;
  background: linear-gradient(bottom, rgba(0,0,0,0.3) 0%, rgba(245,244,239,1) 5%);
}

body {
  font:       100% $font-stack;
  color:                 $text;
  text-align:           center;
  padding-top:            30px;
  background-color:$background;
}

a {
  color:                 $link;
  text-decoration:        none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline:none;
  }
}

form {
  background-color:#fff;
  @include border-radius(10px);
  padding: 10px 20px 30px 20px;
  margin: 10px;
  text-align:left;
  position:relative;
  label {
    display:block;
    font-size:10px;
    font-weight:600;
    width:100%;
    margin: 3px 0px 6px 0px;
  }
}

button {
  border:none;
  color:#fff;
  height:35px;
  width:100%;
  margin:0 auto;
  display:block;
  box-shadow: 0px 2px 0px 0px #ccc;
  position:relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;
  @include border-radius(5px);
  font-size:14px;
  &:focus {
    outline:none;
  }
  &:active {
    top: 2px;
    box-shadow: none;
  }
}

label {
  text-transform:uppercase;
}


// Landscape phones and portrait tablets
@media (min-width:481px) and (max-width: 991px) {
  body {
    padding-top:  50px;
  }
  button {
    height:45px;
  }
}

// Portrait tablets and up
@media (min-width: 992px){
  body {
    padding-top:  70px;
  }
  button {
    height:45px;
  }
}
