//modules

//center padding for consistency of non form elements
.center-pad {
  position:relative;
  padding:0px 30px;
  width:100%;
  box-sizing:border-box;
}


//input fields
.input-bar {
  position:relative;
  margin-bottom:20px;
  height:38px;
  display: table;
  box-sizing: border-box;
  .input-tag {
    position:relative;
    display:table-cell;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-color: #eaeaea;
    width:1%;
    padding:0px 20px 0px 20px;
    z-index:0;
    //height:38px;
    height:100%;
    border: 1px solid $outline;
    border-right: none;
    box-sizing : border-box;
  }
  .input-tag:last-child {
    padding:0px 0px 0px 15px;
    width:auto;
    border:none;
    border: 1px solid $outline;
    border-left:none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    z-index:2;
    input[type=checkbox] {
      margin:10px 5px 10px 0px;
    }
    label {
      display:inline;
      margin-right:5px;
    }
  }
  .input-field {
    display:table-cell;
    height:38px;
    width:100%;
    padding-left:10px;
    border: 1px solid $outline;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    z-index:2;
    box-sizing: border-box;
    &:focus {
      border-color:#c7e187;
      outline:none;
      //background-color:#c7e187;
      //color:#fff;
    }
  }
  .input-field:not(:last-child){
    width:100%;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
  }
  .input-field.invalid{
    border: 1px solid $warning;
  }
}

// terms checkbox
.terms {
  label {
    font-size:12px;
    text-transform:none;
    line-height:16px;
    margin:30px 0px 45px;
  }
  input {
    float:left;
    width:30px;
    margin:0px 15px 30px;
  }
}

//icons
.icon {
  position:absolute;
  left:5px;
  top:5px;
  width:30px;
  height:30px;
}
.icon.fb {
  top:5px;
  left:8px;
  background-image:url('../images/fb.png');
}
.icon.user {
  background-image:url('../images/user.png');
}
.icon.lock {
  background-image:url('../images/lock.png');
  top:3px;
}
.icon.mail {
  background-image:url('../images/mail.png');
}

//call-to-action buttons
.fb-signup {
  background-color:$facebook;
  box-shadow: 0px 2px 0px 0px $dark-facebook;
}
.call-to-action{
  background-color:$cta;
  box-shadow: 0px 2px 0px 0px $dark-cta;
}

.button-link { //use for <a href> <button>'s
  &:hover {
    text-decoration:none;
  }
}

//page seperator with text
.seperator {
  position:relative;
  margin:25px 0px 29px;
 .seperator-text {
   font-size:12px;
   text-transform:uppercase;
   font-weight:800;
   width:158px;
   margin:0 auto;
   position:relative;
   top:7px;
   background-color:$background;
   text-shadow: 1px 1px 1px $gray;
 }
 .seperator-line {
   height:1px;
   background-color: $text;
   display:block;
   width:100%;
   box-shadow: 0px 1px 0px 0px $gray;
 }
}

.subtext {
  font-size:14px;
  font-weight:600;
  padding-top:28px;
  border-top: 1px solid #d7d7d7;
  box-shadow: 0px -1px 0px 0px $gray;
  margin: 30px 0px;
}

//top messages
.messages {
  @include border-radius(5px);
  text-align:center;
  padding:11px;
  margin:10px 0px 20px;
  transition: all 1s ease-in;
}

.messages.warning {
  background-color:$warning-bg;
  color:$warning;
}

.messages.success {
  background-color:$light-cta;
  color:$cta;
}

.hidden {
  opacity: 0;
  display:none;
}

.shown {
  opacity: 1;
}

//fit inputs into the smallest devices by removing right label
@media (max-width:370px) {
  .input-bar .input-tag:last-child {
    padding-right: 15px;
    label {
      display:none;
    }
    input[type=checkbox] {
      margin-right:0px;
    }
  }
}

@media (min-width:481px) and (max-width: 1199px) {
  .fb-signup {
    top:7px;
  }
}
